:root {
    --primary: #4b03c06c;
};

input{
    width: 100%;
};

button {
    width: 100%;
}

#cardHolder {
    float: right;
};

#bigBox {
    margin: 0, auto;
}

#fiveCards {
    min-width: fit-content;
    margin-bottom: 5px;
}

#recentSearches {
    justify-content: space-between;
}

.lastSearches {
    text-align: center
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;